<ons-page id="train-stationSelector">
    <div class="main-content">
        <ons-toolbar>
            <div class="left"><ons-back-button id="train-stationSelector-back-button"></ons-back-button></div>
            <div class="center">
                <input id="station-search-input" placeholder="Chercher une gare" autofocus autocomplete="off">
            </div>
        </ons-toolbar>
        <div class="ss-result-container">
            <ons-list id="station-search-result" modifier="inset">
            </ons-list>
        </div>
    </div>
</ons-page>